<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
     <!--css style-->
     <link rel="stylesheet" href="CSS/style.css">
     <!--icons-->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Home</title>
  </head>
  <body>
     {{>header}}
     <section class="main_banner">
      <svg xmlns="http://www.w3.org/2000/svg" width="21.955" height="21.955" viewBox="0 0 21.955 21.955" class="circle-icon circle-icon1 svg replaced-svg">
            <g id="circle" fill="none" stroke="#3665fc" stroke-width="2">
            <circle cx="10.977" cy="10.977" r="10.977" stroke="none"></circle>
            <circle cx="10.977" cy="10.977" r="9.977" fill="none"></circle>
            </g>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" id="plus" width="19.459" height="19.46" viewBox="0 0 19.459 19.46" class="plus-icon plus-icon6 svg replaced-svg">
            <line id="Line_26" data-name="Line 26" y2="19.46" transform="translate(10.379)" fill="none" stroke="#3665fc" stroke-width="2"></line>
            <line id="Line_27" data-name="Line 27" x2="19.46" transform="translate(0 10.379)" fill="none" stroke="#3665fc" stroke-width="2"></line>
            </svg>
       <div class="container p-0">
        <div class="row gap">
            <div class="col-md-6 col-12 d-flex flex-column justify-content-center">
              <svg xmlns="http://www.w3.org/2000/svg" id="plus" width="19.459" height="19.46" viewBox="0 0 19.459 19.46" class="plus-icon plus-icon6 svg replaced-svg">
              <line id="Line_26" data-name="Line 26" y2="19.46" transform="translate(10.379)" fill="none" stroke="#3665fc" stroke-width="2"></line>
              <line id="Line_27" data-name="Line 27" x2="19.46" transform="translate(0 10.379)" fill="none" stroke="#3665fc" stroke-width="2"></line>
              </svg>
              <svg xmlns="http://www.w3.org/2000/svg" width="21.955" height="21.955" viewBox="0 0 21.955 21.955" class="circle-icon circle-icon1 svg replaced-svg">
            <g id="circle" fill="none" stroke="#3665fc" stroke-width="2">
            <circle cx="10.977" cy="10.977" r="10.977" stroke="none"></circle>
            <circle cx="10.977" cy="10.977" r="9.977" fill="none"></circle>
            </g>
            </svg>
                <h1 class="mb-4">{{mainTitle}}</h1>
                <div class="d-flex links">
                <a href="/" class="pr-2">{{link1}}</a> / <a href="/about" class="pl-2">{{link2}}</a>
                </div>
            </div>
            <div class="col-md-2 col-12">
              <svg xmlns="http://www.w3.org/2000/svg" id="plus" width="19.459" height="19.46" viewBox="0 0 19.459 19.46" class="plus-icon plus-icon6 svg replaced-svg">
            <line id="Line_26" data-name="Line 26" y2="19.46" transform="translate(10.379)" fill="none" stroke="#3665fc" stroke-width="2"></line>
            <line id="Line_27" data-name="Line 27" x2="19.46" transform="translate(0 10.379)" fill="none" stroke="#3665fc" stroke-width="2"></line>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="21.955" height="21.955" viewBox="0 0 21.955 21.955" class="circle-icon circle-icon1 svg replaced-svg">
            <g id="circle" fill="none" stroke="#3665fc" stroke-width="2">
            <circle cx="10.977" cy="10.977" r="10.977" stroke="none"></circle>
            <circle cx="10.977" cy="10.977" r="9.977" fill="none"></circle>
            </g>
            </svg>
            </div>
            <div class="col-md-4 col-12 d-flex justify-content-center  align-items-end">
                <div class="main-banner-content-img d-flex justify-content-center">
                <div class="img-main-banner">
                  <svg xmlns="http://www.w3.org/2000/svg" id="plus" width="19.459" height="19.46" viewBox="0 0 19.459 19.46" class="plus-icon plus-icon6 svg replaced-svg">
                  <line id="Line_26" data-name="Line 26" y2="19.46" transform="translate(10.379)" fill="none" stroke="#3665fc" stroke-width="2"></line>
                  <line id="Line_27" data-name="Line 27" x2="19.46" transform="translate(0 10.379)" fill="none" stroke="#3665fc" stroke-width="2"></line>
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" width="21.955" height="21.955" viewBox="0 0 21.955 21.955" class="circle-icon circle-icon1 svg replaced-svg">
            <g id="circle" fill="none" stroke="#3665fc" stroke-width="2">
            <circle cx="10.977" cy="10.977" r="10.977" stroke="none"></circle>
            <circle cx="10.977" cy="10.977" r="9.977" fill="none"></circle>
            </g>
            </svg>
                 </div>
                 <svg xmlns="http://www.w3.org/2000/svg" id="plus" width="19.459" height="19.46" viewBox="0 0 19.459 19.46" class="plus-icon plus-icon6 svg replaced-svg">
                  <line id="Line_26" data-name="Line 26" y2="19.46" transform="translate(10.379)" fill="none" stroke="#3665fc" stroke-width="2"></line>
                  <line id="Line_27" data-name="Line 27" x2="19.46" transform="translate(0 10.379)" fill="none" stroke="#3665fc" stroke-width="2"></line>
                 </svg>
                 <svg xmlns="http://www.w3.org/2000/svg" width="21.955" height="21.955" viewBox="0 0 21.955 21.955" class="circle-icon circle-icon1 svg replaced-svg">
            <g id="circle" fill="none" stroke="#3665fc" stroke-width="2">
            <circle cx="10.977" cy="10.977" r="10.977" stroke="none"></circle>
            <circle cx="10.977" cy="10.977" r="9.977" fill="none"></circle>
            </g>
            </svg>
                <img src={{imgBannerAbout}}>
                </div>
            </div>
        </div>
        </div>
     </section>


     <section class="sec-section">
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-12 callBoxMiddle">
            <div class="boxCall p-3">
              <svg xmlns="http://www.w3.org/2000/svg" width="27.284" height="27.278" viewBox="0 0 27.284 27.278" class="svg replaced-svg">
                <g id="phone" transform="translate(0)">
                  <g id="Group_123" data-name="Group 123" transform="translate(0)">
                    <path id="Path_76" data-name="Path 76" d="M21.924,27.281a11.725,11.725,0,0,1-4.012-.852A30.117,30.117,0,0,1,7.787,19.495,30.114,30.114,0,0,1,.853,9.368c-1.135-3-1.138-5.471-.009-6.6.163-.163.329-.338.5-.517C2.375,1.169,3.566-.061,5.081.006A4.481,4.481,0,0,1,8.233,2.022c3.116,3.877,1.711,5.258.085,6.86l-.288.284c-.266.266-.77,1.5,3.909,6.175a26.037,26.037,0,0,0,3.869,3.321c.656.426,1.827,1.068,2.307.588l.289-.292c1.6-1.624,2.982-3.024,6.858.091A4.472,4.472,0,0,1,27.278,22.2c.063,1.543-1.166,2.71-2.251,3.74-.178.17-.352.334-.514.5A3.58,3.58,0,0,1,21.924,27.281ZM4.972.92c-1.1,0-2.086,1.042-2.963,1.964-.177.185-.349.366-.517.534-.84.84-.754,3.049.218,5.628a29.2,29.2,0,0,0,6.725,9.8,29.2,29.2,0,0,0,9.8,6.724c2.579.973,4.789,1.058,5.629.217.168-.167.347-.338.53-.512.943-.9,2.012-1.911,1.966-3.038a3.708,3.708,0,0,0-1.675-2.473c-3.23-2.595-4.132-1.677-5.629-.161l-.294.3c-.713.717-1.875.56-3.455-.468A26.9,26.9,0,0,1,11.29,15.99h0C7.408,12.108,6.166,9.733,7.381,8.517l.293-.29c1.521-1.5,2.439-2.4-.157-5.631A3.72,3.72,0,0,0,5.044.921Z" transform="translate(0 -0.003)" fill="#fc5185"></path>
                  </g>
                  <g id="Group_124" data-name="Group 124" transform="translate(14.028 0.006)">
                    <path id="Path_77" data-name="Path 77" d="M23.51,11.674a.459.459,0,0,1-.425-.63A3.857,3.857,0,0,0,17.922,6.08a.458.458,0,0,1-.378-.835,4.774,4.774,0,0,1,6.391,6.144A.46.46,0,0,1,23.51,11.674Z" transform="translate(-15.453 -0.407)" fill="#fc5185"></path>
                    <path id="Path_78" data-name="Path 78" d="M27.442,12.94a.459.459,0,0,1-.425-.63A8.278,8.278,0,0,0,15.937,1.655a.46.46,0,0,1-.378-.838A9.2,9.2,0,0,1,27.866,12.653.458.458,0,0,1,27.442,12.94Z" transform="translate(-15.289 -0.009)" fill="#fc5185"></path>
                  </g>
                </g>
              </svg>
              <h3 class="mt-4">Call Us</h3>
              <div class="mt-3">
                <p>+01042625859</p>
                <p>+01042724457</p>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-12 flex-column">
             <div class="openingBox p-3">
              <svg xmlns="http://www.w3.org/2000/svg" width="27.167" height="27.167" viewBox="0 0 27.167 27.167" class="svg replaced-svg">
                <g id="clock" transform="translate(0 0)">
                  <path id="Path_66" data-name="Path 66" d="M13.583,0A13.583,13.583,0,1,0,27.167,13.583,13.6,13.6,0,0,0,13.583,0Zm0,26.261A12.678,12.678,0,1,1,26.261,13.583,12.692,12.692,0,0,1,13.583,26.261Z" fill="#fc5185"></path>
                  <path id="Path_67" data-name="Path 67" d="M23.886,19.924V15.332a.453.453,0,1,0-.906,0v4.592a1.809,1.809,0,0,0-1.294,1.294H18.453a.453.453,0,0,0,0,.906h3.234a1.807,1.807,0,1,0,2.2-2.2Zm-.453,2.652a.906.906,0,1,1,.906-.906A.906.906,0,0,1,23.433,22.576Z" transform="translate(-9.85 -8.142)" fill="#fc5185"></path>
                  <path id="Path_68" data-name="Path 68" d="M29.453,8.237a.453.453,0,0,0,.453-.453V7.332a.453.453,0,0,0-.906,0v.453A.453.453,0,0,0,29.453,8.237Z" transform="translate(-15.869 -3.764)" fill="#fc5185"></path>
                  <path id="Path_69" data-name="Path 69" d="M29.453,49.879a.453.453,0,0,0-.453.453v.453a.453.453,0,0,0,.906,0v-.453A.453.453,0,0,0,29.453,49.879Z" transform="translate(-15.869 -27.295)" fill="#fc5185"></path>
                  <path id="Path_70" data-name="Path 70" d="M50.906,28.879h-.453a.453.453,0,1,0,0,.906h.453a.453.453,0,1,0,0-.906Z" transform="translate(-27.361 -15.803)" fill="#fc5185"></path>
                  <path id="Path_71" data-name="Path 71" d="M7.906,28.879H7.453a.453.453,0,0,0,0,.906h.453a.453.453,0,0,0,0-.906Z" transform="translate(-3.831 -15.803)" fill="#fc5185"></path>
                  <path id="Path_72" data-name="Path 72" d="M44.3,13.455l-.32.32a.453.453,0,1,0,.64.64l.32-.32a.453.453,0,1,0-.64-.64Z" transform="translate(-23.995 -7.29)" fill="#fc5185"></path>
                  <path id="Path_73" data-name="Path 73" d="M13.9,43.861l-.32.32a.453.453,0,1,0,.64.64l.32-.32a.453.453,0,1,0-.64-.64Z" transform="translate(-7.357 -23.929)" fill="#fc5185"></path>
                  <path id="Path_74" data-name="Path 74" d="M44.622,43.861a.453.453,0,0,0-.64.64l.32.32a.453.453,0,0,0,.64-.64Z" transform="translate(-23.995 -23.929)" fill="#fc5185"></path>
                  <path id="Path_75" data-name="Path 75" d="M14.217,13.455a.453.453,0,1,0-.64.64l.32.32a.453.453,0,0,0,.64-.64Z" transform="translate(-7.357 -7.29)" fill="#fc5185"></path>
                </g>
              </svg>        
              <h3 class="mt-4">Opening Hours</h3>
              <div class="mt-3">
                <p>Sat-Thu : 8 AM - 5 PM</p>
                <p>Fri : Closed</p>
              </div>
            </div>

             <div class="emailBox p-3">
              <svg xmlns="http://www.w3.org/2000/svg" id="phone2" width="28.097" height="28.096" viewBox="0 0 28.097 28.096" class="svg replaced-svg">
                <path id="Path_62" data-name="Path 62" d="M3.774,20.139A.468.468,0,0,1,3.443,20,11.707,11.707,0,1,1,19.97,3.419a.468.468,0,0,1-.661.663A10.77,10.77,0,0,0,4.1,19.34a.468.468,0,0,1-.331.8Z" transform="translate(0 -0.004)" fill="#fc5185"></path>
                <path id="Path_63" data-name="Path 63" d="M54.854,75.11h-.016a2.682,2.682,0,0,1-2.669-2.688V69.116A2.679,2.679,0,0,1,54.475,66.4a13.76,13.76,0,0,0,3.011-.748,2.693,2.693,0,0,1,2.827.6l1.152,1.15a17.231,17.231,0,0,0,5.977-5.964L66.294,60.3a2.683,2.683,0,0,1-.605-2.827,13.672,13.672,0,0,0,.748-3,2.684,2.684,0,0,1,2.682-2.307h3.315c.08,0,.16,0,.239.011A2.678,2.678,0,0,1,75.1,55.082a22.409,22.409,0,0,1-3.471,9.788,22.168,22.168,0,0,1-6.781,6.766A22.5,22.5,0,0,1,55.1,75.1,2.439,2.439,0,0,1,54.854,75.11Zm3.572-8.687a1.731,1.731,0,0,0-.612.111,14.709,14.709,0,0,1-3.213.8A1.741,1.741,0,0,0,53.1,69.1v3.324a1.745,1.745,0,0,0,1.738,1.749c.055,0,.109,0,.163-.007a21.558,21.558,0,0,0,9.339-3.317,21.226,21.226,0,0,0,6.5-6.485,21.464,21.464,0,0,0,3.327-9.373,1.742,1.742,0,0,0-1.581-1.882c-.051,0-.1-.006-.155-.006H69.114a1.761,1.761,0,0,0-1.749,1.5,14.622,14.622,0,0,1-.8,3.2,1.743,1.743,0,0,0,.392,1.836l1.4,1.4a.469.469,0,0,1,.076.563,18.161,18.161,0,0,1-6.815,6.8.469.469,0,0,1-.562-.076l-1.405-1.4A1.749,1.749,0,0,0,58.426,66.423Z" transform="translate(-47.017 -47.014)" fill="#fc5185"></path>
                <path id="Path_64" data-name="Path 64" d="M54.622,51.989a.738.738,0,0,1-.537-.232c-1.115-1.188-1.026-3.547-1.022-3.647a9.4,9.4,0,0,1,.4-2.35,1.44,1.44,0,0,0-.212-1.217c-.046-.066-.089-.132-.132-.2a6.124,6.124,0,0,1-.948-3.327v-.575c0-1.979,2.064-2.5,3.156-2.5a3.671,3.671,0,0,1,2.464.982,3.67,3.67,0,0,1,2.464-.982c1.091,0,3.156.523,3.156,2.5v.575a6.13,6.13,0,0,1-.946,3.327c-.043.066-.087.132-.133.2a1.439,1.439,0,0,0-.213,1.218,9.451,9.451,0,0,1,.4,2.37c0,.08.093,2.439-1.023,3.627a.735.735,0,0,1-.713.21.744.744,0,0,1-.539-.523c-.581-2.088-1.608-4.2-2.449-4.2s-1.868,2.114-2.449,4.2a.745.745,0,0,1-.539.523A.772.772,0,0,1,54.622,51.989Zm3.164-5.683c1.658,0,2.76,2.906,3.242,4.511a5.573,5.573,0,0,0,.546-2.667,8.567,8.567,0,0,0-.361-2.136,2.373,2.373,0,0,1,.346-2.007c.039-.056.077-.113.114-.17a5.2,5.2,0,0,0,.8-2.819v-.575c0-1.538-2.128-1.566-2.22-1.566a2.784,2.784,0,0,0-2.089,1.007.47.47,0,0,1-.372.184h0a.469.469,0,0,1-.373-.186,2.787,2.787,0,0,0-2.089-1c-.089,0-2.219.028-2.219,1.566v.575a5.192,5.192,0,0,0,.8,2.819c.036.055.074.112.113.169a2.373,2.373,0,0,1,.345,2.007A8.534,8.534,0,0,0,54,48.131a5.609,5.609,0,0,0,.545,2.686c.482-1.605,1.584-4.511,3.242-4.511Z" transform="translate(-47.016 -34.196)" fill="#fc5185"></path>
                <path id="Path_65" data-name="Path 65" d="M85.83,52.105a.468.468,0,1,1,0-.936,2.807,2.807,0,0,0,1.52-.988.468.468,0,0,1,.707.614A3.691,3.691,0,0,1,85.83,52.105Z" transform="translate(-76.933 -45.082)" fill="#fc5185"></path>
              </svg>
              <h3 class="mt-4">Email Us</h3>
              <div class="mt-3">
                <p>info@gmail.com</p>
                <p>dent@gmail.com</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-12 secSectionRight">
            <div class="secSectionRightMiddle">
              <h2 class="secSectionTitle">{{secSectionTitle}}</h2>
              <div class="desc my-3">
                  <p>{{secSectionDesc}}</p>
              </div>
              <a href="/about" style="color:var(--second-color); text-decoration:none;" class="btnAbout">About Us</a>
          </div>
          </div>
        </div>
      </div>
     </section>

     {{>footer}}

    <!-- jQuery,Popper.js,Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>